<!-- 
    - #HEADER
  -->

<header class="header" data-header>
    <div class="container">

        <div>
            <button class="fi fi-us" (click)="changeLanguage('en')" style="margin: 5px;"></button>
            <button class="fi fi-fr" (click)="changeLanguage('fr')" style="margin: 5px;"></button>
        </div>
        <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a routerLink="/home" class="label-lg navbar-link has-after" routerLinkActive="active">Home</a>
                </li>
                <li class="navbar-item">
                    <a routerLink="/services" class="label-lg navbar-link has-after"
                        routerLinkActive="active">Services</a>
                </li>
                <li class="navbar-item">
                    <a routerLink="/contact" class="label-lg navbar-link has-after"
                        routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </nav>

        <a routerLink="/contact" class="btn btn-primary">{{ "CONTACT.CONTACT_NOW" | translate }}</a>

        <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler (click)="addToggle()">
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>

    </div>
</header>