<!-- 
    - #FOOTER
  -->

<footer class="footer">
    <div class="container">

        <ul class="social-list">

            <li>
                <a href="https://www.youtube.com/channel/UCLYvppaPMnewPjrrETcukyg" target="_blank" class="social-link">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
            </li>

            <li>
                <a href="https://stackoverflow.com/users/5678360/alain-ghawi" target="_blank" class="social-link">
                    <ion-icon name="logo-stackoverflow"></ion-icon>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/alain-ghawi" target="_blank" class="social-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>

            <li>
                <a href="https://github.com/AlainGhawi" target="_blank" class="social-link">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </li>

        </ul>

        <p class="text-center">&copy; 2023 copyright all rights reserved</p>

    </div>
</footer>